<section class="about-us text-center mt-5">
  <div class="container">
    <h2>About Us</h2>
    <p class="lead">
      We are a dedicated team of professionals passionate about delivering
      high-quality education and training.
    </p>

    <div class="row mt-5">

      <div class="col-md-4">
        <img src="imgs/pride.jpg"
        class="rounded-circle"
        alt="Team Member 1"
        width="150"
        height="150"
        />
        <h4>Anurag Sahu</h4>
        <p>Student</p>
      </div>
      <div class="col-md-4">
        <img src="imgs/pride.jpg"
        class="rounded-circle"
        alt="Team Member 2"
        width="150"
        height="150"
        />
        <h4>Ashish Sahu</h4>
        <p>Technical Lead</p>
      </div><div class="col-md-4">
        <img src="imgs/pride.jpg"
        class="rounded-circle"
        alt="Team Member 3"
        width="150"
        height="150"
        />
        <h4>Suyash Patel</h4>
        <p>Chief Instructor</p>
      </div>
    </div>
  </div>
</section>
