<h1>for-loop works!</h1>
<p *ngFor="let item of users">{{item}}</p>

<i>per person details</i>
<p *ngFor="let item of userDetails">
  Name is - <i><b>{{item.name}}</b></i>,
  Email is - <i><b>{{item.email}}</b></i>,
  Phone number is -<i><b>{{item.phone}}</b></i>,
  Gender is - <i><b>{{item.gender}}</b></i>,
  Age is - <i><b>{{item.age}}</b></i>
</p>

<ul *ngFor="let user of nestedLoop">
  <li>{{user.name}}</li>
  <li>{{user.email}}</li>
  <ul *ngFor="let anu of user.phone">
   <li>{{anu}}</li>
  </ul>
</ul>

