<section>
  <img src="imgs/images.jpg" />

  <div class="main-content">
    <h1 class="mt-2">Explore amazing content</h1>
    <a class="btn btn-lg btn-light mt-2">Courses</a> &nbsp;
    <a class="btn btn-lg btn-primary mt-2">Templates</a>
  </div>
</section>
<section class="courses">
  <div class="container">
    <h1 class="text-center">All Course</h1>

    <!-- <div class="row mt-5">
        @for (course of courses; track $index) {
        <div class="col-lg-4 mb-3">
          <app-course [course]="course"></app-course>
        </div>
        }
    </div> -->
    <!-- <app-course [courses]="courses" ></app-course> -->
     <app-course></app-course>
     <app-about></app-about>
  </div>
</section>
