<section class="about-us text-center mt-4">
  <div class="container">
    <h2>About Us</h2>
    <p class="lead">
      We are dedicated team of professional passionate about delivering
      high-quality education and training.
    </p>

    <div class="row mt-5">
      <div class="col-md-4">
        <img
          src="img/Bachira.jpg"
          class="rounded-circle"
          alt="Team Member 1"
          width="200"
          height="200"
        />
        <h4>Bachira</h4>
        <p>Front Player</p>
      </div>
      <div class="col-md-4">
        <img
          src="img/Nagi.jpg"
          class="rounded-circle"
          alt="Team Member 2"
          width="200"
          height="200"
        />
        <h4>Nagi</h4>
        <p>Game Control</p>
      </div>
      <div class="col-md-4">
        <img
          src="img/Isagi.jpg"
          class="rounded-circle"
          alt="Team Member 3"
          width="200"
          height="200"
        />
        <h4>Isagi</h4>
        <p>Mind Reader</p>
      </div>
    </div>
  </div>
</section>
